<!--Have a table to display the units-->
<div class="hpanel hprimary primary  m-t-md">
    <div class="panel-heading hbuilt">
        {{name}} - Academic Years 
        <span class="btn btn-xs btn-primary text-white pull-right" 
              data-toggle="modal" 
              data-target="#modal-add-academic-year">
            <i class="fa fa-plus"></i>
        </span>
    </div>
    <div class="panel-body table-responsive">
         <div ng-repeat="ay in paginate_academic_year.data">
            <div class="media pointer">
                <div class="media-left media-middle">
                    <a class="pull-left btn btn-sm btn-primary font-extra-bold btn-circle text-center">
                        {{ ((limit_length * paginate_academic_year.page_number) - limit_length) + ($index + 1)}}
                    </a>
                </div>
                <div class="media-body" data-ui-sref="home.institution.view.course({courseid:c.courseid})" >
                    <h5 class="text-primary">{{ay.a_year}}</h5>
                    <small class="text-muted">
                        {{ay.a_level}}
                    </small>
                </div>
                <div class="media-right media-middle">
                    <button ng-click="$event.stopPropagation();deleteCourse(al)"
                            data-toggle="modal" data-target="#modal-edit-course"
                            class="btn btn-xs btn-outline btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-right">
                <ul class="pagination pagination-sm text-muted">
                    <li>
                        <a 
                            class="pointer" 
                            ng-class="paginate_academic_year.prev.status === false;disabled"
                            ng-click="AcademicYearPagerClicked(paginate_academic_year.prev)" 
                            ng-disabled="paginate_academic_year.prev.status === false" >
                            <
                        </a>
                    </li>
                    <li><a class="text-plain">page {{paginate_academic_year.page_number}} of {{paginate_academic_year.pages}}</a></li>
                    <li>
                        <a class="pointer" 
                           ng-click="AcademicYearPagerClicked(paginate_academic_year.next)" 
                           ng-class="paginate_academic_year.next.status === false; disabled"
                           ng-disabled="paginate_academic_year.next.status === false">
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Add Unit Modal-->
<div class="modal fade hmodal-primary" id="modal-add-academic-year">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-body">
                <span class="pull-right" data-dismiss="modal"> <i class="fa fa-times"></i></span>
                <div class="title-text text-primary">Add Academic Year</div>
                <form>
                    <!--select input field-->
                    <div class="form-group has-feedback form-group-md">
                        <label>Select Year</label>
                        <select class="form-control">
                            <option>Select year</option>
                            <option>Year 1</option>
                            <option>Year 2</option>
                            <option>Year 3</option>
                            <option>Year 4</option>
                            <option>Year 5</option>
                            <option>Year 6</option>
                            <option>Year 7</option>
                            <option>Year 8</option>


                        </select>
                        <div class="help-block">
                            <label class="text-danger w-lg"> 
                                <!--<i class="fa fa-warning pull-right"></i>-->
                            </label>
                        </div>
                    </div>
                    <!--select academic semester offered at-->
                    <div class="form-group has-feedback has-error form-group-md">
                        <label>Select Academic Year </label>
                        <select class="form-control">
                            <option>--select semester--</option>
                            <option>First Semester</option>
                            <option>Second Semester</option>
                            <option>Third Semester</option>
                        </select>
                        <div class="help-block">
                            <label class="text-danger w-lg"> error message placeholder
                                <i class="fa fa-warning pull-right"></i>
                            </label>
                        </div>
                    </div>


                    <div class="form-group text-right m-b-none">
                        <button 
                            class="btn btn-outline btn-primary" 
                            type="reset"> Clear</button>
                        <button 
                            class="btn btn-primary text-white">
                            <i class="fa fa-spin fa-spinner"></i> 
                            Submit 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>