<div ng-if="addCourseToggle !== true" class="hpanel hprimary primary  m-t-none">
    <div class="panel-heading hbuilt">
        {{institution.name}} - Courses 
        <span class="btn btn-xs btn-primary text-white pull-right" ng-click="addCourseClick()">
            <i class="fa fa-plus"></i>
        </span>
    </div>
    <div ng-hide="courses_data.courses.length > 0" class="panel-body p-sm table-responsive">
        <div  class="blockquote">
            No courses found for this university
        </div>
    </div>
    <div ng-show="courses_data.courses.length > 0" class="panel-body p-sm table-responsive" >

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label m-t-sm"> {{course_pagination.result}} Results</label>
                <div class="col-sm-offset-6 col-sm-3">
                    <input type="text" ng-keyup="courseFilter(course_name)" ng-model="course_name"
                           placeholder="Search Course" class="form-control">
                </div>
            </div>
        </div>
        <div ng-repeat="c in course_pagination.data">
            <div class="media pointer">
                <div class="media-left media-middle">
                    <a class="pull-left btn btn-sm btn-primary font-extra-bold btn-circle text-center">
                        {{ ((course_limit_length * course_pagination.page_number) - course_limit_length) + ($index + 1)}}
                    </a>
                </div>
                <div class="media-body" data-ui-sref="home.institution.view.course({courseid:c.courseid})" >
                    <h5 class="text-primary">{{c.name}}</h5>
                    <small class="text-muted">
                        <strong class="text-primary">{{c.students}}</strong> 
                        Students Enrolled
                    </small>
                </div>
                <div class="media-right media-middle">
                    <button ng-click="$event.stopPropagation();deleteCourse(c)"
                            data-toggle="modal" data-target="#modal-edit-course"
                            class="btn btn-xs btn-outline btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <div ng-if="course_pagination.pages>1" class="text-right">
                <ul class="pagination pagination-sm text-muted">
                    <li>
                        <a 
                            class="pointer" 
                            ng-class="course_pagination.prev.status === false;disabled"
                            ng-click="coursePagerClicked(course_pagination.prev)" 
                            ng-disabled="course_pagination.prev.status === false" >
                            <
                        </a>
                    </li>
                    <li><a class="text-plain">page {{course_pagination.page_number}} of {{course_pagination.pages}}</a></li>
                    <li>
                        <a class="pointer" 
                           ng-click="coursePagerClicked(course_pagination.next)" 
                           ng-class="course_pagination.next.status === false; disabled"
                           ng-disabled="course_pagination.next.status === false">
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 

<div ng-if="addCourseToggle === true" class="hpanel hprimary primary m-t-none">
    <div class="panel-heading hbuilt">
        {{institution.name}} - Add Course
        <span class="btn btn-xs btn-primary text-white pull-right" ng-click="addCourseClick()">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <div class="panel-body p-sm table-responsive">
        <form ng-submit="addCourse()">
            <div class="form-group has-feedback {{course_validated.response_class}} m-b-sm">
                <label>Course Name</label>
                <input class="form-control" placeholder="Enter institution name" ng-model="new_course.name">
                <div class="help-block">
                    <label class="text-danger w-lg">{{ course_validated.response_message}} 
                        <i ng-if="course_validated.response_message !== ''" class="fa fa-warning pull-right"></i></label>
                </div>
            </div>
            <div class="form-group text-right m-b-none">
                <button 
                    class="btn btn-outline btn-primary" 
                    ng-disabled="course_validated.submit === 'true'"
                    type="reset" ng-click="clearAddCourseForm()"> Clear</button>
                <button 
                    class="btn btn-primary text-white"
                    ng-disabled="course_validated.submit === 'true'">
                    <i ng-if="course_validated.submit === 'true'" class="fa fa-spin fa-spinner"></i>  
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade hmodal-primary" id="modal-add-course" >
    <div class="modal-dialog modal-dialog-sm">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-body">
                <span class="pull-right" style="cursor: pointer" data-dismiss="modal"> <i class="fa fa-times"></i></span>
                <div class="title-text text-primary">Add A Course</div>
                <form ng-submit="addCourse()">
                    <div class="form-group has-feedback {{course_validated.response_class}} m-b-sm">
                        <label>Course Name</label>
                        <input class="form-control" placeholder="Enter institution name" ng-model="new_course.name">
                        <div class="help-block">
                            <label class="text-danger w-lg">{{ course_validated.response_message}} 
                                <i ng-if="course_validated.response_message != ''" class="fa fa-warning pull-right"></i></label>
                        </div>
                    </div>
                    <div class="form-group text-right m-b-none">
                        <button 
                            class="btn btn-outline btn-primary" 
                            ng-disabled="course_validated.submit == 'true'"
                            type="reset" ng-click="clearAddCourseForm()"> Clear</button>
                        <button 
                            class="btn btn-primary text-white"
                            ng-disabled="course_validated.submit == 'true'">
                            <i ng-if="course_validated.submit == 'true'" class="fa fa-spin fa-spinner"></i>  
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-primary" id="modal-edit-course" >
    <div class="modal-dialog modal-dialog-sm">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-body">
                <span class="pull-right" style="cursor: pointer" data-dismiss="modal"> <i class="fa fa-times"></i></span>
                <div class="title-text text-violet">Edit Course</div>
                <form ng-submit="updateCourse()">
                    <div class="form-group has-feedback {{update_course_validated.response_class}} m-b-sm">
                        <label>Course Name</label>
                        <input class="form-control" placeholder="Enter institution name" ng-model="update_course.name">
                        <div class="help-block">
                            <label class="text-danger w-lg">{{ update_course_validated.response_message}} 
                                <i ng-if="update_course_validated.response_message != ''" class="fa fa-warning pull-right"></i></label>
                        </div>
                    </div>
                    <div class="form-group text-right m-b-none">

                        <button 
                            class="btn btn-violet text-white"
                            ng-disabled="update_course_validated.submit == 'true'">
                            <i ng-if="update_course_validated.submit == 'true'" class="fa fa-spin fa-spinner"></i> 
                            Submit 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>